<%- include header.ejs %>

<%
  locals.user2 = locals.user2 || "";
%>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

	<div style="margin: 3% 10% 0 10%">
		<p id="chatuser"><%= user2 %></p>
		<ul id="chatHistory" class="list-group" style="overflow:hidden; overflow-y:scroll;>
			<li class="list-group-item list-group-item-info">First</li>
			<li class="list-group-item list-group-item-success" style="text-align: right">Second</li>
		</ul>

		<div style="width:100%; position: relative">
			<textarea id="sendText" type="text" style="width:90%;" rows = "3"></textarea>
			<input id="send" style="position: absolute; top:0px;width:10%;" class="btn" type="submit" value="Send">
		</div>
	</div>
	<script src="/clientjs/chat.js">

<%- include footer.ejs %>
