<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/icons/favicon.ico">

    <title>Matches</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../public/css/starter-template.css" rel="stylesheet">
  </head>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
  		<div class="container ">
  			<a class="navbar-brand " href="/">PickUp</a>
  			<button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent
  			" aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
  				<span class="navbar-toggler-icon "></span>
  			</button>

  			<div class="collapse navbar-collapse " id="navbarSupportedContent ">
  				<div class="container ">
  					<ul class="navbar-nav mr-auto ">
  						<li class="nav-item active ">
  							<a class="nav-link " href="/profile">Profile
  								<span class="sr-only ">(current)</span>
  							</a>
  						</li>
  						<li class="nav-item ">
  							<a class="nav-link " href="/schedule">My Schedule</a>
  						</li>
  						<li class="nav-item dropdown ">
  							<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button " data-toggle="dropdown" aria-haspopup="true "
  							   aria-expanded="false ">
  								Options
  							</a>
  							<div class="dropdown-menu " aria-labelledby="navbarDropdown">
  								<a class="dropdown-item " href="/report">Report User</a>
  								<a class="dropdown-item " href="#">Another action</a>
  							</div>
  						</li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Matches</h1>
        <p class="lead"></p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Activity</th>
              <th scope="col">Name</th>
              <th scope="col">Matching time slot</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><img src="../public/icons/whois-icon.png" class="img-fluid"></th>
              <td>Football</td>
              <td>John</td>
              <td>10:30 am - 11:30 am</td>
              <td>
                <button type="button" class="btn btn-success">CONFIRM</button>
              <td/>
            </tr>
            <tr>
              <th><img src="../public/icons/whois-icon.png" class="img-fluid"></th>
                <td>Basketball</td>
              <td>Marry</td>
              <td>2:30 pm - 3:30 pm</td>
              <td>
                <button type="button" class="btn btn-success">CONFIRM</button>
              <td/>
            </tr>
            <tr>
              <th><img src="../public/icons/whois-icon.png" class="img-fluid"></th>
              <td>Badminton</td>
              <td>Peter</td>
              <td>7:30 pm - 8:30 pm</td>
              <td>
                <button type="button" class="btn btn-success">CONFIRM</button>
              <td/>
            </tr>
          </tbody>
        </table>

      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
